NET "button1" LOC = P23 | IOSTANDARD = LVTTL;
NET "button2" LOC = P24 | IOSTANDARD = LVTTL;
NET "button3" LOC = P25 | IOSTANDARD = LVTTL;
NET "led<0>"  LOC = P23 | IOSTANDARD = LVTTL;
NET "led<1>"  LOC = P24 | IOSTANDARD = LVTTL;
