NET "a" LOC = P74;
NET "a" IOSTANDARD = LVTTL;
NET "b" LOC = P78;
NET "b" IOSTANDARD = LVTTL;
NET "c" LOC = P80;
NET "c" IOSTANDARD = LVTTL;
NET "sum" LOC = P84;
NET "sum" IOSTANDARD = LVTTL;
NET "carry" LOC = P87;
NET "carry" IOSTANDARD = LVTTL;
